table {
	margin: auto;
    margin-top: -30px;
	width : 80%;
	border: 14px;
}

td {
	text-align: center;
	border: 14px solid white;
}

a {
	text-decoration: none;
	color: black;
}

h1,h3 {
	font-family: Narkisim;
	text-align: left;
}

p {
	font-family: sans-serif;
	text-align: justify;
	
}

#sddm {	
	margin: auto;
	padding: 15px;
	background-color: #9C9C9C;
}

#sddm li {
	display:inline;
	margin-left: 15px;
	padding: 7px;
	border-radius: 0px 5px;
	
}

#sddm li:hover {	
	background: #0B61AC;
}


#sddm li a {	
	padding: 5px;
	color: #FFF;
	text-decoration: none;
	font-family: bold sans-serif;

}


#sddm div {	
	visibility: hidden;
	display: inline-block;
	margin-left: -130px;
	margin-top: 27px;
	position: absolute;
	background: #EAEBD8;
	border: 1px solid #0B61AC
}

#sddm div a {	
	display: block;
	padding: 5px 10px;
	text-align: left;
	
	color: #2875DE;
	font: 11px arial;
}

#sddm div a:hover {	
	background: #0B61AC;
	color: #FFF;
}

#description {
	background-color: #D3D3D3;
	padding-top: 25px;
	padding-left: 68px;
	padding-right: 68px;
	text-align: left;

}

#photo {
	background-size: 98%;
	background-repeat: no-repeat;
	background-position: right;

}

#projects td {
	padding: 21px;
	padding-left: 43px;
	padding-right: 43px;
	border: 3px;
	width: 33%;
}

#logo {
	padding: 28px;
	border: 4px solid #D3D3D3;
	width: 38%;
	height: 14%;
}



